[Desktop Entry]
Type=Application
Name=GameMode Manager
Name[fi_FI]=GameMode Manager
Comment=Manage GameMode, MangoHud, Steam and Heroic game settings
Comment[fi_FI]=Hallinnoi GameMode-, MangoHud-, Steam- ja Heroic-peliasetuksia
Exec=/usr/bin/gamemode-launch
Icon=gamemode-manager
Categories=Game;Utility;
Keywords=gamemode;mangohud;steam;heroic;gaming;
Terminal=false
StartupNotify=true
